@{
    ViewData["Title"] = "About";
}


<!-- content page -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 p-b-30 p-t-50">
                <div class="hov-img-zoom">
                    <img src="https://res.cloudinary.com/dbnssecqq/image/upload/v1547008722/banner-14.jpg" alt="IMG-ABOUT">
                </div>
            </div>

            <div class="col-md-8 p-b-30">
                <h3 class="m-text26 p-t-50 p-b-10">
                    Who are we?
                </h3>

                
                <p><p><strong>Who’s in the kitchen?</strong><span> </span>Chef Zaiyu Hasegawa began his career at age 18 in the kitchen of a ryotei (exclusive traditional Japanese restaurant) in Tokyo’s Kagurazaka geisha area, where his mother worked. Eleven years later he opened Den, which moved to its current location in late 2016.</p>
                <p><strong>The philosophy:</strong><span> </span>Rather than sticking to the elegant, refined but often impersonal traditions of high-end<span> </span><em>kaiseki</em><span> </span>cuisine, Hasegawa offers an elevated, deeply personal take on Japanese home cooking. He draws on diverse influences, both home-grown and gleaned on overseas trips, but always based around prime ingredients from ocean, pasture and forest.</p>
                <p><strong>Any house-specials?</strong><span> </span>So many, and most of them changing with the seasons. But constant points of reference include the signature foie gras<span> </span><em>monaka</em><span> </span>(wafer sandwich) as an appetiser; the 20-plus-vegetable Den garden salad, invariably incorporating a few surprises; and the now-classic Dentucky Fried Chicken – probably the best chicken wings you will ever taste, complete with customised fast-food take-out carton. Underpinning everything, the culmination of every meal is the<span> </span><em>donabe-gohan</em>, claypot-cooked rice with wagyu beef or seafood.</p>
                <p><strong>Service from the heart:</strong><span> </span>Hasegawa likes to say his aim is to see his customers leaving with smiles on their faces. An essential ingredient in achieving this is the welcome and service provided by Den’s front-of-house team, which was recognised in 2017 with the Asia’s 50 Best Restaurants inaugural Art of Hospitality Award.<br /><br /></p>
                
                <div class="bo13 p-l-29 m-l-9 p-b-10">
                    <p class="p-b-11">
                        If you want to become a great chef, you have to work with great chefs. And that's exactly what I did.
                        </p>

                    <span class="s-text7">
                        - Gordon Ramsay
                    </span>
                </div>
            </div>
        </div>
    </div>


