@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="width: 1002px; height: 602px;">
            <div class="card-header">
                <h3>Register</h3>
            </div>

            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div clas="form-row">
                        <div class="input-group form-group col-md-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Input.FirstName" type="text" class="form-control mr-3" placeholder="First name">
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                            <div class="input-group-prepend  ml-3">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input asp-for="Input.LastName" type="text" class="form-control" placeholder="Last name">
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div clas="form-row">
                        <div class="input-group form-group col-md-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Input.Password" type="password" class="form-control mr-3" placeholder="Password">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                            <div class="input-group-prepend  ml-3">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirm password">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div clas="form-row">
                        <div class="input-group form-group col-md-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input asp-for="Input.Email" type="text" class="form-control mr-3" placeholder="Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="input-group-prepend  ml-3">
                                <span class="input-group-text"><i class="fas fa-phone-square"></i></span>
                            </div>
                            <input asp-for="Input.PhoneNumber" type="text" class="form-control" placeholder="Phone number">
                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div clas="form-row">
                        <div class="input-group form-group col-md-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-city"></i></span>
                            </div>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                <option selected>Choose city...</option>
                                <option value="1">Sofia</option>
                                <option value="2">Burgas</option>
                                <option value="3">Varna</option>
                                <option value="3">Plovdiv</option>
                                <option value="4">Stara Zagora</option>
                            </select>
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                    </div>
                    <div clas="form-row">
                        <div class="input-group form-group col-md-12">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-home"></i></span>
                            </div>
                            <input asp-for="Input.Address" type="text" class="form-control" placeholder="Address">
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn ">
                    </div>
                    <br/>
                    <h5 class="text-center text-white">OR LOGIN WITH</h5>

                    <div class="d-flex social_icon_reg ml-12">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>

                </form>
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
